{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<body>
<h1 style="text-align: center;">Dashboard</h1>
    <div class="container">
        <h2>Already encrpyted images are :</h2>
      {% for x in details %}
         <h3>{{x['images']}}</h3>
      {% endfor %}
        <div class="input-group-btn text-center">
            <form action="/encrypt" method="post">
            <button type="submit" class="btn btn-primary" id="new_encrypt1">
                &nbsp;New Encryptions
            </button>
            </form>
        </div>
    </div>

{% endblock %}