{% extends "layout.html" %}

{% block title %}Encrypt{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

         <div class="col-lg-3">
              <h2 style="text-align:center;">New Encryption</h2>

             <form method="post" action="/encrypt_form" id="encrypt_form">
                  <div class="form-group">
                       <label for="oldname">Enter image name(without extension) :</label>
                        <input type="text" class="form-control"  id="old_img"   name="old_img" required>
                    </div>
                <div class="form-group">
                       <label for="data">Enter data to be encoded :</label>
                        <input type="text" class="form-control"  id="encypt_data"   name="encypt_data" required>
                    </div>

                 <div class="form-group">
                       <label for="newname">Enter new image name :</label>
                        <input type="text" class="form-control"  id="new_img"   name="new_img" required>
                    </div>
                   <div class="alignCenter">
                        <button type="submit"  class="btn btn-primary">Encrypt</button>
                    </div>
             </form>
         </div>
    </div>
</div>
{% endblock %}